<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/eeb8707309.js"
      crossorigin="anonymous"
    ></script>

    <title>Home</title>
    <style>
      #maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #0093e9;
        background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
      }
      #formdiv {
        height: 500px;
        width: 350px;
        background-color: aliceblue;
      }
    </style>

  </head>

<script>
  function popup(id, name, desc, price,scr) {
  id = parseInt(id);
  price = parseInt(price);
  console.log(id, price, name, desc);
    var popup = document.getElementById("popup");
    var popupouter = document.createElement("div");
    var popupinner = document.createElement("div");
    var cross = document.createElement("button");
    popup.innerText=""
    popupouter.style.position="absolute"
    popupouter.style.top="12%"
    popupouter.style.right="1rem"
    popupouter.style.bottom="10%"
 cross.className="btn btn-primary"
 cross.innerText="X"
    console.log(popup)
    cross.addEventListener("click",()=>{
      popup.innerHTML=""
    })
    popupinner.innerHTML = ` 
      <div class="card" style="width: 25rem" ">
        <img
          class="card-img-top img-fluid"
          src=${scr}
          alt="Card image cap"
           
        />
      
        <div class="card-body">
          <h5 class="card-title"> ${name}</h5>
          <h6 class="card-title"> ${desc}</h6>
          <h5 class="card-title"> ${price}</h5>
      
        
        </div>
          
       </div>`;
    popupouter.appendChild(cross);
    popupouter.appendChild(popupinner);
    popup.appendChild(popupouter);
}

</script>
  <body>
    <%- include('partials/header', {name: name}); %>
  <br>
  
  <br>

    <div id="loadmore" class="row">
      <% products.forEach((numeber,index,product)=>{ if(index<size&&index<products.length){%>
      <div class="col-sm-12 col-md-5 col-lg-3">
        <%-include('partials/cart', {data:product[index]}); %>
      </div>

      <% }}) %>
      <% size=parseInt(size)+5 %>
      <a href="/fetchAll/<%=size%>">Show more</a>
    </div>
    
    <div id="popup"></div>
  </body>
</html>
